body {
  font-family: Helvetica;
  margin: 0px;
  background-color: yellow;
}


#logo {
  height: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-weight: 100;
}
